ul {
    margin-top: 0px;
}

.accounts {
    display: flex;
    justify-content: left;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.account-header {
    padding-top: 16px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #818285;
}

.account-item {
    font-size: 14px;
    border-bottom: 2px solid #818285;
}

.fsrAccount {
    width: 100px;
    padding-right: 10px;
}

.name {
    width: 350px;
    padding-right: 10px;
}

.walletAddress {
    /* width: 350px; */
    padding-right: 10px;
}
